<%- include('header.ejs') %>

  <br/>


  <div class="jumbotron">
    <h1 class="display-3">
      <img src='/images/node-logo.png' height='90px' /> Node.js Sample App</h1>
      <hr/>
    <p class="lead">This is a basic Node.js application designed for running as a demo in cloud / container environments.</p>
    <p class="lead">Click on 'Around Me' for info about your location and things to do.</p>
    <p class="lead">Click on 'Weather' for weather information in your area.</p>
    <br/>
    <br/>
  </div>


  <%- include('footer.ejs') %>